html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#app-container {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

#root {
	max-width: 1280px;
	margin: 0;
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
body {
	background-color: #cdb4db;
}

button {
	background-color: #a2d2ff;
	border: none;
	margin-top: 20px;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
	outline: none;
}
h1,
p {
	justify-self: center;
	text-align: center;
	align-self: center;
	margin-bottom: 20px;
}

nav {
	text-align: center;
	margin-top: 1rem;
}
a {
	text-decoration: none;
	color: black;
	background-color: #a2d2ff;
	border-radius: 30px;
	padding: 0.5em;
}
.nav-link.active {
	text-decoration: none;
	background-color: white;
	color: black;
}
.nav-link:hover {
	text-decoration: none;
	color: #a2d2ff;
	background-color: black;
}
main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem;
}
