html,
body {
	margin: 0;
	padding: 0;
	background-color: #cdb4db;
	box-sizing: border-box;
	font-family: 'Jersey 10', sans-serif;
	color: #820263;
	margin-bottom: 20px;
	padding-inline-start: 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
body {
	margin-top: 10px;
	overflow-x: hidden;
}
:root {
	background-color: #cdb4db;
	margin: 0;
}
#root {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #cdb4db;
}
.spotify-wrapper {
	width: 100%;
	min-width: 100vw;
	min-height: 100vh;
	background-color: #cdb4db;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
#jokes {
	border: 5px dotted #820263;

	padding: 20px;
	box-sizing: border-box;
	margin: 20px;
}

#app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	flex-grow: 1;
}
.spotify-page {
	flex-grow: 1;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #cdb4db;
	padding-bottom: 4rem;
}

button {
	font-family: 'Jersey 10', sans-serif;
	background-color: #a2d2ff;
	border: none;
	margin-top: 20px;
	transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	outline: none;
	transition: border-color 0.25s;
	transform: scale(1);
	transform-origin: center;
	padding: 0.6em 1.2em;
	font-size: 1.1em;
	font-weight: 500;
	border-radius: 30px;
	color: #820263;
	margin-bottom: 20px;
}
button:focus {
	border: none;
	outline: none;
}
button:hover {
	transform: scale(1.05);
	box-shadow: 0 2x 2px rgba(0, 0, 0, 0.25);
}
h1,
p {
	font-weight: 100;
	justify-self: center;
	text-align: center;
	align-self: center;
	margin-bottom: 20px;
}
li {
	list-style-type: none;
	line-height: normal;
	white-space: normal;
	word-break: break-word;
	margin-top: 0;
}
h2 {
	font-size: 2em;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}
p {
	font-size: 22px;
}
h3 {
	font-size: 2em;
	padding: 0;
	margin: 0;
}
label {
	font-size: 1.5em;
}
#track {
	margin: 3px;
}

nav {
	text-align: center;
	margin-top: 1rem;
}

.info {
	text-align: left;
	font-size: 40px;
	line-height: normal;
	display: block;
}
.bandImg {
	width: 100%;
	display: block;
	max-width: 100%;
	border-radius: 70%;
	padding: 1em;
}
.bandImg,
.albumImg {
	margin: 0 auto;

	height: auto;
}

.albumImg {
	width: 100%;
	max-width: 100%;
	display: block;
}
a {
	text-decoration: none;
	color: #820263;
	background-color: #a2d2ff;
	border-radius: 30px;
	padding: 0.5em;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.link {
	background-color: #cdb4db;
	box-shadow: none;
}
.nav-link.active {
	text-decoration: none;
	color: #a2d2ff;
	background-color: #820263;
}
.nav-link:hover {
	text-decoration: none;
	color: #a2d2ff;
	background-color: #820263;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	box-sizing: border-box;

	padding-top: 1rem;
}
input {
	margin-top: 10px;
	border: 2px solid #ffafcc;

	padding: 0.2em;
	border-radius: 10px;
	font-family: 'Jersey 10', sans-serif;
	font-size: 18px;
	font-weight: 100;
	color: #645394;
}
input:focus {
	outline: none;
	border: 3px solid #ffafcc;
}
footer {
	background-color: #cdb4db;
	border: 1px solid #820263;
	border-left: none;
	border-right: none;
}
ol {
	margin: 20px;
	font-size: 28px;
	font-weight: 400;
	text-align: left;
	padding-left: 0;
	height: auto;
}
#track-link {
	background-color: #cdb4db;
	cursor: pointer;
	overflow: hidden;
}
.top-tracks {
	border: 5px dotted #820263;

	justify-self: center;
}
a#track-link {
	padding: 0;
	margin: 0;
}
p#track:hover {
	color: white;
}
@media screen and (max-width: 768px) {
	.bandImg {
		max-width: 90%;
	}
	.albumImg {
		max-width: 90%;
	}
	h2 {
		font-size: 1em;
	}
	.info {
		font-size: 2em;
	}
	ol {
		word-wrap: break-word;
	}
	li {
		font-size: 1em;
		word-break: break-word;
		white-space: normal;
	}
}
