html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #cdb4db;
	box-sizing: border-box;
	font-family: 'Jersey 10', sans-serif;
	color: #645394;
}
body {
	overflow-x: hidden;
}
#root {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.spotify-wrapper {
	width: 100%;
	min-width: 100vw;
	min-height: 100vh;
	background-color: #cdb4db;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	flex-grow: 1;
}
.spotify-page {
	flex-grow: 1;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #cdb4db;

	padding-bottom: 4rem;
}

button {
	background-color: #a2d2ff;
	border: none;
	margin-top: 20px;
	transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	font: inherit;
	cursor: pointer;
	outline: none;
	transition: border-color 0.25s;
	transform: scale(1);
	display: inline-block;
	transform-origin: center;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	border-radius: 30px;
	color: #645394;
}
button:focus {
	border: none;
	outline: none;
}
button:hover {
	transform: scale(1.05);
	box-shadow: 0 2x 2px rgba(0, 0, 0, 0.25);
}
h1,
p {
	font-weight: 100;
	justify-self: center;
	text-align: center;
	align-self: center;
	margin-bottom: 20px;
	text-wrap: wrap;
}
li {
	list-style-type: none;
}
h2 {
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}
p {
	font-size: 22px;
}

nav {
	text-align: center;
	margin-top: 1rem;
}

.info {
	text-align: left;
	font-size: 40px;
	line-height: normal;
}
.bandImg {
	width: 100%;
	display: flex;
	max-width: 100%;
	border-radius: 70%;
	padding: 1em;
	justify-self: center;
	align-self: center;
}

.albumImg {
	width: 100%;
	max-width: 90%;
	display: grid;
	justify-self: center;
}
a {
	text-decoration: none;
	color: white;
	background-color: #a2d2ff;
	border-radius: 30px;
	padding: 0.5em;
}
.link {
	background-color: #cdb4db;
}
.nav-link.active {
	text-decoration: none;
	background-color: white;
	color: #645394;
}
.nav-link:hover {
	text-decoration: none;
	color: #a2d2ff;
	background-color: #645394;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	box-sizing: border-box;
	margin-bottom: 0;
	padding-top: 1rem;
}
input {
	margin-top: 10px;
	border: none;
	padding: 0.5em;
	border-radius: 30px;
	font-family: 'Jersey 10', sans-serif;
	font-size: 18px;
	font-weight: 100;
	color: #645394;
}
input:focus {
	border: none;
	outline: none;
}
footer {
	background-color: #cdb4db;
}
ol {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	font-size: 40px;

	text-align: left;
	padding-inline-start: 0;
	justify-self: center;
}
@media screen and (max-width: 768px) {
	.bandImg,
	.albumImg {
		width: 400px;
	}
}
